{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">MARC form</h1>
  <p class="lead">Multidimensional Assessment of Research in Context (MARC) Tool</p>
  <hr class="my-4">
  <section class="seccion">
    <section class="seccion">
      <article>
        <p class="pagraph">Below you find two questions to set up the form. </p>


      </article>
    </section>

    <form method=post action="" id="contact">

      <div class="questionary">
        {% for field in form %}

        <div class="question">
          <div class="title">
            <span class="title">
              {{ field.label }}
            </span>
          </div>

          <div class="answer">
            {{ field }}
            {% if field.errors %}
            <ul class=errors>
              {% for error in field.errors %}
              <li>
                <font color="red">{{ error }}</font>
              </li>
              {% endfor %}
              {% endif %}
          </div>
        </div>

        {% endfor %}

        <!-- {% if result != None %}
        <td>
          <p>
            <img id='resultado' src="data:image/png;base64,{{ result }}">
          </p>
        </td>
        {% endif %} -->
        <div class="container" id="contact">
          <button type="submit" name="submit" id="contact-submit" data-submit="...Sending">Submit and go to the form</button>
        </div>

    </form>
    </p>
    </td>



</div>

{% endblock %}