{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">
        <p class="display-4">MARC form | your results  </p>

    </h1>

    <p class="lead">Summary</p>
    <hr class="my-4">
    <section class="seccion">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

        <div class="container" id="contact">

            <div class="question">
                <div class="title">
                    <span class="title">
                        {{ form.Q1a.label }}
                    </span>
                </div>

                <div class="answer">
                    {{ form.Q1a.data  }}
                </div>


            </div>

            <div class="question">
                <div class="title">
                    <span class="title">
                        {{ form.Q1b.label }}
                    </span>
                </div>

                <div class="answer">
                    {{ form.Q1b.data  }}
                </div>


            </div>
            
            <div class="question">
                <div class="title">
                    <span class="title">
                        {{ form.Q2.label }}
                    </span>
                </div>

                <div class="answer">
                    {{ dict(form.Q2.choices).get(form.Q2.data) }}
                </div>

                {{ form.TQ2 }}

            </div>
            <!--More than one task section-->
            <!-- one task -->
            <div class="question">
                <div class="title">
                    <span class="title">
                        {{ form.Q3.label }}
                    </span>
                </div>

                <div class="answer">
                    {{ dict(form.Q3.choices).get(form.Q3.data) }}
                </div>

                {{ form.TQ3 }}
            </div>

            <div class="question">
                <div class="title">
                    <span class="title">
                        {{ form.Q4.label }}
                    </span>
                </div>

                <div class="answer">
                    {{ dict(form.Q4.choices).get(form.Q4.data) }}
                </div>

                {{ form.TQ4 }}

            </div>

            <div class="question">
                <div class="title">
                    <span class="title">
                        {{ form.Q5.label }}
                    </span>
                </div>

                <div class="answer">
                    {{ dict(form.Q5.choices).get(form.Q5.data) }}
                </div>

                {{ form.TQ5 }}

            </div>

            <div class="question">
                <div class="title">
                    <span class="title">
                        {{ form.Q6.label }}
                    </span>
                </div>

                <div class="answer">
                    {{ dict(form.Q6.choices).get(form.Q6.data) }}
                </div>

                {{ form.TQ6 }}

            </div>
            <div class="question">
                <div class="title">
                    <span class="title">
                        {{ form.Q7.label }}
                    </span>
                </div>

                <div class="answer">
                    {{ dict(form.Q7.choices).get(form.Q7.data) }}
                </div>

                {{ form.TQ7 }}

            </div>


           


            {% if result != None %}
            <img src="data:image/png;base64,{{ result }}" class="resize2">
            {% endif %}


            <p class="lead">Abbreviations and referenced questions</p>
            <p class="title">CLR = Controlled laboratory research | PNLRA = Partially naturalistic laboratory research approach | NRWRA = Naturalistic real-world research approach | BS = Balance Score</p>

            <p class="title">Sample: Q2; Testing site: Q3 ; Task: Q4 ; Stimuli: Q5 ; Measures: Q6 ; Stakeholders: Q7  </p>
 
            <div class="container" id="contact">
            <button  onclick="window.print()" type="submit" name="submit" id="contact-submit" data-submit="...Sending">Print this page</button>
          </div>
  

        </div>


</div>
{% endblock %}